#header{

}

.site-header {
    position: relative;
    text-align: center;
    background-color: #00b4ff;
    border-radius: 0;
    color: #fff;
    margin-bottom: 0;
}
.site-nav {
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 1100;
    display: none;
}
.logo-header{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo-header .logo{

}
.logo-header .title{
    text-align: left;
    margin-left: 20px;
    margin-top: 0;
}

.logo-header .title h1{
    margin-top: 0px;
}
.logo-header .title h3{
    margin-top: 0px;
}

.logo{

}
.logo img{
    width: 120px;
}
.site-header{
    padding-top: 30px;
    padding-bottom: 30px;
}


.site-header .search {
    border: 2px solid #27AE60;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 0;
    height: auto;
    text-align: center;
}
.site-nav a:hover {
    color: #fff;
}
.site-nav a {
    color: #eee;
}
.package-info, .mostused-packages {
    border-radius: 0;
    border: none;
}


#header .mostused-packages{
    height: 50px;
}


#mainbody{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#list{
    width: 400px;
    margin-right: 50px;
    min-width: 300px;
}

#list p {
    font-size: 15px;
    margin: 0;
    max-width: 100%;
    color: rgba(0,0,0,0.6);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#list a.name:hover {
    color: #cb3837;
}
#list span.version {
    color: rgba(0,0,0,0.8);
    font-weight: 400;
    font-size: 12px;
}
#list .list-group-item:hover span.version {
    color: #cb3837 !important;
}

#list .list-group-item:hover .package {
    color: #cb3837 !important;
}

#list .list-group-item.active span.version {
    color: #cb3837 !important;
}

#list .list-group-item.active .package {
    color: #cb3837 !important;
}



#list .list-group-item:hover{
    background-color: #eeeeee;
}

#list .list-group-item.active{
    background-color: #eeeeee;
    border-color: #eeeeee;
}



#detail{
    flex: 1;
    width: 800px;
}

@media (min-width: 1390px) {
    .container {
        width: 1360px;
    }
}



#mainbody {
    min-height: 700px;
}

.list-inline li{
    margin-right: 30px;
}
.list-inline a{
   height: 30px;
    line-height: 30px;

}

.list-inline svg, .list-inline img{
float: left;
    margin-right: 5px;
}

.list-inline img{
    float: left;
    margin-right: 5px;
    width: 28px;
    height: 28px;
}
.list-inline span{
    float: left;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #000;
}

.footer-nav {
    background: #3d4751;
    height: 70px;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.footer-nav .copy-right {
    color: grey;
    padding-top: 24px;
    font-size: 14px;
}

.footer-nav .copy-right p {
    margin-bottom: 0;
}
.footer-nav .copy-right a {
    color: white;
    text-decoration: none;
}